.product-cart {
    margin: 2.5rem 0;
}
.product-cart .product-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
.card {
    width: 18.75rem;
    height: 28.125rem;
    text-align: center;
    background-color: #dddddd;
    border: 1px solid #dddddd;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card .product-image {
    width: 100%;
    height: 100%;
}
.card .product-image img {
    width: 100%;
    transition: all 0.4s ease-in-out;
}
.card .product-image .img1:hover {
    visibility: hidden;
    opacity: 0;
}
.card .product-image:hover .img2 {
    visibility: visible;
    opacity: 1;
}
.card .product-image .img2 {
    display: flex;
    position: absolute;
    top: 0;
    opacity: 0;
    visibility: hidden;
}



.card .product-title {
    font-size: 14px;
    display: inline-block;
    font-weight: 600;
    margin-top: 15px;
  }
  .card .product-star {
    display: flex;
    justify-content: center;
    margin: 8px 0;
    column-gap: 2px;
  }
  .card .product-star i {
    font-size: 12px;
    color: gold;
  }
  .card .product-prices {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    padding-bottom: 15px;
  }
  .card .product-prices strong {
    color: #508360;
    font-size: 16px;
    font-weight: 600;
  }
  .card .product-prices span {
    color: #7d7d7d;
    font-size: 16px;
    font-weight: 600;
    text-decoration: line-through;
  }
  .card .product-discount {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #508360;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    position: absolute;
    top: 15px;
    right: 15px;
    border-radius: 100%;
  }
  .card .product-links {
    display: inline-flex;
    flex-direction: column;
    row-gap: 5px;
    position: absolute;
    top: 15px;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
  }
  .card:hover .product-links {
    transform: translate(10px);
    opacity: 1;
    visibility: visible;
  }
  .card .product-links button,
  .card .product-links a {
    background-color: #000;
    display: inline-block;
    padding: 5px;
    border-radius: 4px;
    transition: all 0.4s ease;
  }
  .card .product-links button:hover,
  .card .product-links a:hover {
    opacity: 0.7;
  }
  
  .card .product-links i {
    color: #fff;
  }