.single-product .breadcrumb ul {
  display: flex;
}
.single-product .breadcrumb ul li {
  font-size: 14px;
}
.single-product .breadcrumb ul li:not(:last-child):after {
  content: "/";
  color: #222222;
  margin: 0 5px;
}
.single-product .breadcrumb ul li a {
  color: #666666b3;
}
.single-product .breadcrumb ul li a:hover {
  color: black;
  text-decoration: underline;
}
